// Buttons
.btn {
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s;
  font-weight: bold;
  padding: 9px 27px;

  &.btn-normal {
    border: 1px solid $brand-color;
    background-color: $brand-color;

      &:hover {
      outline: none;
      border-color: darken($brand-color, 10%);
      background-color: darken($brand-color, 10%);
    }
  }

  &.btn-facebook {
    border: 1px solid $fb-color;
    background-color: $fb-color;

      &:hover {
      outline: none;
      border-color: darken($fb-color, 10%);
      background-color: darken($fb-color, 10%);
    }
  }

  &:hover, &:focus {
    color: #ffffff;
  }
}
