// Body
$body-bg:  #f8f8f8;

// Typography
$font-family-sans-serif: "Varela Round", "Helvetica Nue", sans-serif;
$text-default: #565a5c;

// Colors
$brand-color: #ff5a5f;
$fb-color:  #3b5998;
$link-color: #00a699;

// Initial
a {
  color: $link-color;

  &:hover {
      text-decoration: none;
  }
}
