.photos {
  .card {
    position: relative;

    .delete-btn {
      color: #ffffff;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 7px 12px;

      i.fa {
        text-shadow: 0px 1px 7px #000;
        font-size: 1.3em;
      }
    }

    &:hover {
      .delete-btn {
        display: block;
      }
    }
  }
}

.reservation-form {
  .card-header {
    i.fa-bolt {
      color: #ffb400;
    }
  }

  .card-body {
    table {
      tr {
        td {
          width: 100%;
          border: none;
          padding: 10px;

          &:not(.total) {
            border-bottom: 1px solid #DCE0E0;
          }
    
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

.reviews {
  form {
    .btn-delete {
      color: $link-color;
    }  
  }
}

.search {
  .filters {
    padding: 10px 400px 10px 20px;
    overflow: scroll;
    height: 100%;
  }

  .map {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;

    .room-price {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: $link-color;
    }
  }
}